## Intersection Selections

This code can be used to check if the selections of a specifist list are all mutually non-overlapping, and to check if the set of selections covers the complete model.

This is useful if these selections are used as parameter zones in a PEST run.

In [1]:
import ifm_contrib as ifm
import pandas as pd

In [2]:
selections = ['Kiesseen',
 'Seitenentnahmen Nord',
 'Seitenentnahmen Sued',
 'Qa',
 'Qb',
 'Tertiaer_Stauer',
 'Tertiaer_Leiter',
 'Tertiaer_Sande_inQ',
 ]

In [3]:
doc = ifm.loadDocument("../../../model/feflow_calib/femdata/FHMUC_135_MW_ARE_prior.fem")

### Check for Overlaps

Create a matrix with the number of overlapping elements:

In [4]:
df = pd.DataFrame(index=selections, columns=selections)
for i in selections:
    for j in selections:
        if i==j:
            continue
        df.loc[i,j] = len(set(doc.c.sel.list(i)) & set(doc.c.sel.list(j)))

In [5]:
df

,Kiesseen,Seitenentnahmen Nord,Seitenentnahmen Sued,Qa,Qb,Tertiaer_Stauer,Tertiaer_Leiter,Tertiaer_Sande_inQ
Kiesseen,NaN,0,0,0,0,0,0,0
Seitenentnahmen Nord,0,NaN,0,0,0,0,0,0
Seitenentnahmen Sued,0,0,NaN,0,0,0,0,0
Qa,0,0,0,NaN,0,0,0,0
Qb,0,0,0,0,NaN,0,0,0
Tertiaer_Stauer,0,0,0,0,0,NaN,0,0
Tertiaer_Leiter,0,0,0,0,0,0,NaN,0
Tertiaer_Sande_inQ,0,0,0,0,0,0,0,NaN

### check for model coverage

Check how many elements in the model are not covered by the set of selections.

In [6]:
all_elements = set(range(doc.getNumberOfElements()))
for i in selections:
    all_elements -= doc.c.sel.set(i)

In [7]:
len(all_elements)

31970

save the remaining elements into a new selection

In [ ]:
doc.c.sel.create(ifm.Enum.SEL_ELEMENTAL, "uncalibrated_k", list(all_elements), overwrite_existing=True)

In [ ]:
doc.saveDocument("../../../model/feflow_calib/femdata/FHMUC_135_MW_ARE_prior.fem")